<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Evaluate News NLP</title>
</head>

<body>

    <header>
        <ul>
            <li>
                <img id="img" src="img/news-logo.png" alt="newspaper logo">
            </li>
            <li>
                News Evaluator
            </li>
        </ul>
    </header>

    <main>
        <section>
            <form>
                <!-- <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="Name">
                    <input type="submit" name="" value="submit" onclick="return handleSubmit(event)" onsubmit="return handleSubmit(event)"> -->
                <input id="url" type="url" name="input" value="" placeholder="Please enter a url">
                <input id="submit" type="submit" name="" value="Submit">
            </form>
        </section>

        <section>
            <strong>Form Results:</strong><br><br>
            <!-- <strong>Polarity:</strong> -->
            <div id="polarity"></div><br>
            <!-- <strong>Subjectivity:</strong> -->
            <div id="subjectivity"></div><br>
            <!-- <strong>Text:</strong> -->
            <div id="text"></div>
        </section>
    </main>

    <footer>
        <p id="footer">Photo by Plush Design Studio on Unsplash, Icon from http://icon-library.com/icon/icon-newspaper-12.html</p>
    </footer>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>

</html>