footer {
    background-color: rgb(46, 61, 73);
}

#footer {
    color: white;
    height: 2em;
    font-size: 1.1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a {
    color: rgb(202, 193, 195);
    cursor: pointer;
}